version: '3.5'

services:
  mariadb:
    container_name: mariadb
    image: mariadb
    restart: always
    build:
      context: ./mariadb          # ← pasta onde está o Dockerfile
      dockerfile: Dockerfile
    networks:
     - app_net
    ports:
      - '3306:3306'
    volumes:
      - mysql-data:/var/lib/data
      - mysql-mariaconfd:/etc/mysql/mariadb.conf.d
      - mariadb:/var/lib/mysql
      - config:/etc/mysql/conf.d
    environment:
      - MYSQL_ROOT_PASSWORD=${SENHADB}
      - MYSQL_DATABASE=zabbix
      - MYSQL_USER=zabbix
      - MYSQL_PASSWORD=${SENHADB}
         

  zabbix-server:
    container_name: zabbix-server
    image: zabbix/zabbix-server-mysql:ubuntu-${ZBX_VERSION}
    networks:
     - app_net
    links:
      - mariadb
    restart: always
    ports:
      - '10051:10051'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro 
      - alertscripts:/usr/lib/zabbix/alertscripts
      - externalscripts:/usr/lib/zabbix/externalscripts
      - export:/var/lib/zabbix/export
      - modules:/var/lib/zabbix/modules
      - enc:/var/lib/zabbix/enc 
      - ssh_keys:/var/lib/zabbix/ssh_keys
      - mibs:/usr/share/snmp/mibs
      - /usr/share/snmp/mibs/ietf:/usr/share/snmp/mibs/ietf
      - /usr/share/snmp/mibs:/usr/share/snmp/mibs
      - /usr/share/snmp/mibs/ietf:/var/lib/mibs/ietf
      - /usr/share/snmp/mibs/iana:/usr/share/snmp/mibs/iana
    environment:
      - ZBX_SERVER_HOST=zabbix-server
      - DB_SERVER_HOST=mariadb
      - MYSQL_DATABASE=zabbix
      - MYSQL_USER=zabbix
      - MYSQL_PASSWORD=${SENHADB}
      - ZBX_CACHESIZE=${ZBX_CACHESIZE}
      - ZBX_VALUECACHESIZE=${ZBX_VALUECACHESIZE}
      - ZBX_TRENDCACHESIZE=${ZBX_TRENDCACHESIZE}
      - ZBX_STARTDBSYNCERS=${ZBX_STARTDBSYNCERS}
      - ZBX_HISTORYCACHESIZE=${ZBX_HISTORYCACHESIZE}
      - ZBX_HISTORYINDEXCACHESIZE=${ZBX_HISTORYINDEXCACHESIZE}
      - ZBX_TRAPPERIMEOUT=${ZBX_TRAPPERIMEOUT}
      - ZBX_UNREACHABLEPERIOD=${ZBX_UNREACHABLEPERIOD}
      - ZBX_UNAVAILABLEDELAY=${ZBX_UNAVAILABLEDELAY}
      - ZBX_UNREACHABLEDELAY=${ZBX_UNREACHABLEDELAY}
      - ZBX_LOGSLOWQUERIES=${ZBX_LOGSLOWQUERIES}
      - ZBX_STARTPOLLERS=${ZBX_STARTPOLLERS}
      - ZBX_IPMIPOLLERS=${ZBX_IPMIPOLLERS}
      - ZBX_STARTPOLLERSUNREACHABLE=${ZBX_STARTPOLLERSUNREACHABLE}
      - ZBX_STARTTRAPPERS=${ZBX_STARTTRAPPERS}
      - ZBX_STARTPINGERS=${ZBX_STARTPINGERS}
      - ZBX_STARTDISCOVERERS=${ZBX_STARTDISCOVERERS}
      - ZBX_STARTHTTPPOLLERS=${ZBX_STARTHTTPPOLLERS}
      - ZBX_HOUSEKEEPINGFREQUENCY=${ZBX_HOUSEKEEPINGFREQUENCY}
      - ZBX_MAXHOUSEKEEPERDELETE=${ZBX_MAXHOUSEKEEPERDELETE}
      - ZBX_STARTVMWARECOLLECTORS=${ZBX_STARTVMWARECOLLECTORS}
      - ZBX_TIMEOUT=${ZBX_TIMEOUT}
      - ZBX_NODEADDRESS=${ZBX_NODEADDRESS}
      - ZBX_NODEADDRESSPORT=${ZBX_NODEADDRESSPORT}
    depends_on:
      - mariadb
    deploy:
     resources:
       limits:
         memory: 4G
         cpus: "2"

  zabbix-frontend:
    container_name: zabbix-frontend
    image: zabbix/zabbix-web-apache-mysql:ubuntu-${ZBX_VERSION}
    networks:
     - app_net
    links:
      - mariadb
    restart: always
    environment:
      - DB_SERVER_HOST=mariadb
      - MYSQL_DATABASE=zabbix
      - MYSQL_USER=zabbix
      - MYSQL_PASSWORD=${SENHADB}
      - PHP_TZ=America/Sao_Paulo
      - ZBX_SERVER_HOST=zabbix-server
      - ZBX_SERVER_NAME=${ZBX_SERVER_NAME}
    depends_on:
      - mariadb
    ports:
      - 80:8080
    
    deploy:
     resources:
       limits:
         memory: 2g
         cpus: "2.5"

  zabbix-agent:
    container_name: zabbix-agent
    image: zabbix/zabbix-agent2:alpine-${ZBX_VERSION}
    user: root
    networks:
     - app_net
    links:
      - zabbix-server
    restart: always
    privileged: true
    volumes:
      - /var/run:/var/run
      - ./agent:/etc/zabbix/zabbix_agentd.d
    ports:
      - '10050:10050'
    environment:
      - ZBX_HOSTNAME=Zabbix server
      - ZBX_SERVER_HOST=zabbix-server
           
  grafana:
    image: grafana/grafana-enterprise:12.3.1-ubuntu
    container_name: grafana
    restart: always
    networks:
      - app_net
    links:
      - zabbix-server
    user: root
    volumes:
      - grafana_data:/var/lib/grafana 
      - grafana_grafana:/usr/share/grafana 
      - grafana_etc:/etc/grafana 
      - /etc/localtime:/etc/localtime:ro 
      - /etc/timezone:/etc/timezone:ro 
    environment:
      - GF_SERVER_ROOT_URL=http://grafana:3000
      - GF_SECURITY_ADMIN_PASSWORD=password
      - GF_INSTALL_PLUGINS=alexanderzobnin-zabbix-app
      - GF_INSTALL_PLUGINS=agenty-flowcharting-panel
      - GF_INSTALL_PLUGINS=macropower-analytics-panel
      - GF_INSTALL_PLUGINS=grafana-piechart-panel
      - GF_INSTALL_PLUGINS=grafana-clock-panel
      - GF_INSTALL_PLUGINS=briangann-gauge-panel
      - GF_INSTALL_PLUGINS=grafana-polystat-panel
      - GF_INSTALL_PLUGINS=yesoreyeram-boomtheme-panel
      - GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS=alexanderzobnin-zabbix-datasource
      - GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS=grafana-cli plugins install michaeldmoore-multistat-panel 
    labels:
      - "traefik.frontend.rule=Host:grafana.teste.net.br"
    ports:
      - '3000:3000'
    deploy:
     resources:
       limits:
         memory: 1g
         cpus: "0.8"
  mysql:
     image: mariadb
     container_name: mysql
     restart: always
     networks:
      - app_net
     volumes:
      - phpipam:/var/lib/mysql
     environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=phpipam
      - MYSQL_USER=phpipam
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      
  phpipam:
     image: phpipam
     container_name: phpipam
     restart: always
     build:
      context: ./phpipam           # ← pasta onde está o Dockerfile
      dockerfile: Dockerfile
     networks:
      - app_net
     volumes:
      - phpipamweb:/var/www/html/db
     environment:
      - MYSQL_DB_HOSTNAME=mysql
      - MYSQL_DB_USERNAME=phpipam
      - MYSQL_DB_PASSWORD=${MYSQL_DB_PASSWORD}
      - MYSQL_DB_NAME=phpipam
      - MYSQL_DB_PORT=3306
     ports:
      - '81:80'
  ftp:
    image: bogem/ftp
    restart: always
    volumes:
      - ftp:/home/vsftpd/
    ports:
      - "20:20"
      - "21:21"
      - "47400-47470:47400-47470"
    environment:
      - FTP_USER=userbackup
      - FTP_PASS=${FTP_PASS}
      - PASV_ADDRESS=172.16.222.22
    networks:
     - app_net  
    deploy:
     resources:
       limits:
         memory: 64m
         cpus: "0.8"       
networks:
  # docker create network
  app_net:
    external: true




volumes:
  grafana_data:
  grafana_grafana:
  grafana_etc:
  alertscripts:
  externalscripts:
  export:
  modules:
  enc:
  ssh_keys:
  mibs:
  mysql-data:
  mysql-mariaconfd:
  mariadb:
  config:
  phpipam:
  phpipamweb:

